.metrics-grid {
    display: flex;
    gap: 1rem;
    justify-content: center; 
    /* margin-top: -30rem; 
    padding-left: 50px;   */
        
  } 
  
 .metric-card {
    background: white;
    padding: 1rem;
    /* border-radius: 8px; */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    width:'80%';
    /* border-color: blue;
    border-width: 1px;
    border-style: solid; */
  } 
  

  .orders-table {
    
    margin: 2rem auto;        
    border-collapse: collapse;
    /* width: 30%;                */
    text-align: left; 
    padding-left: 80px;   
         border-color:#1976d2;
    border-width: 1px;
    border-style: solid;  
    width:100px;
    height:320px;  
    
  }
  
  .orders-table th,
  .orders-table td {
    padding: 0.75rem;
    border: 2px solid #b01976
   
  }
  .orders-table tr {
    border: 2px solid rgb(106, 0, 255);
  }
  

  
  .sidebar {
    width: 200px;
    background: #87ceeb;
    color:white;
    padding: 1rem;
    height: 100vh;
    border: 'red';
  
   border-color: #0d47a1;
  border-width: 1px;
  border-style: solid;
   
  }
  .user-profile {
    position: absolute;       
    top: 1rem;               
    right: 1rem;              
    display: flex;
    justify-content: flex-start; 
    align-items: center;         
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;   
    border-radius: 8px;          
    z-index: 1000;               
  }
  .chart-style {
    display: flex;
    justify-content: center; 
    margin-top: 2rem;
    height: 100%;
    width:1000px; 
    margin-left:-70px ;     
  }
  .react-select-container {
    width: 300px; 
  }
  .dash-board{
    /* border: #87ceeb;
    border-width: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   height: 100vh;
  }
  .app-container{
    display: flex;
  flex-direction: row;  
  gap: 20px;
  }
  .chart-table{
    display: flex;
    justify-content: space-between;
    width:800px;
  }
  